<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @serial_m.serial_id %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @serial_m.sku %>
</p>

<p>
  <strong>Serial type:</strong>
  <%= @serial_m.serial_type %>
</p>

<p>
  <strong>Cnsgnmnt serial st:</strong>
  <%= @serial_m.cnsgnmnt_serial_st %>
</p>

<p>
  <strong>Cnsgnmnt serial store date:</strong>
  <%= @serial_m.cnsgnmnt_serial_store_date %>
</p>

<p>
  <strong>Po no:</strong>
  <%= @serial_m.po_no %>
</p>

<p>
  <strong>Os type:</strong>
  <%= @serial_m.os_type %>
</p>

<p>
  <strong>Serial no 1:</strong>
  <%= @serial_m.serial_no_1 %>
</p>

<p>
  <strong>Serial no 2:</strong>
  <%= @serial_m.serial_no_2 %>
</p>

<p>
  <strong>Serial no 3:</strong>
  <%= @serial_m.serial_no_3 %>
</p>

<p>
  <strong>Web up serial:</strong>
  <%= @serial_m.web_up_serial %>
</p>

<p>
  <strong>Dl file name:</strong>
  <%= @serial_m.dl_file_name %>
</p>

<p>
  <strong>Dl pass cd:</strong>
  <%= @serial_m.dl_pass_cd %>
</p>

<p>
  <strong>Nfr f:</strong>
  <%= @serial_m.nfr_f %>
</p>

<p>
  <strong>Nfr rsn:</strong>
  <%= @serial_m.nfr_rsn %>
</p>

<p>
  <strong>Accnt cd cstmr:</strong>
  <%= @serial_m.accnt_cd_cstmr %>
</p>

<p>
  <strong>So no:</strong>
  <%= @serial_m.so_no %>
</p>

<p>
  <strong>So item no:</strong>
  <%= @serial_m.so_item_no %>
</p>

<p>
  <strong>Sku serial assngd:</strong>
  <%= @serial_m.sku_serial_assngd %>
</p>

<p>
  <strong>Use type:</strong>
  <%= @serial_m.use_type %>
</p>

<p>
  <strong>Upgrd serial f:</strong>
  <%= @serial_m.upgrd_serial_f %>
</p>

<p>
  <strong>Upgrd pre prd serial no:</strong>
  <%= @serial_m.upgrd_pre_prd_serial_no %>
</p>

<p>
  <strong>Accnt cd sales cntnt:</strong>
  <%= @serial_m.accnt_cd_sales_cntnt %>
</p>

<p>
  <strong>Dlvry no:</strong>
  <%= @serial_m.dlvry_no %>
</p>

<p>
  <strong>Rgstr dt:</strong>
  <%= @serial_m.rgstr_dt %>
</p>

<p>
  <strong>Rgstr usr:</strong>
  <%= @serial_m.rgstr_usr %>
</p>

<p>
  <strong>Lst upd dt:</strong>
  <%= @serial_m.lst_upd_dt %>
</p>

<p>
  <strong>Lst upd usr:</strong>
  <%= @serial_m.lst_upd_usr %>
</p>

<%= link_to 'Edit', edit_serial_m_path(@serial_m) %> |
<%= link_to 'Back', serial_ms_path %>
