<p id="notice"><%= notice %></p>

<p>
  <strong>Ptrn cd:</strong>
  <%= @whl_sl_price_pttrn_m.ptrn_cd %>
</p>

<p>
  <strong>Pttrn name:</strong>
  <%= @whl_sl_price_pttrn_m.pttrn_name %>
</p>

<p>
  <strong>Pttrn desc:</strong>
  <%= @whl_sl_price_pttrn_m.pttrn_desc %>
</p>

<%= link_to 'Edit', edit_whl_sl_price_pttrn_m_path(@whl_sl_price_pttrn_m) %> |
<%= link_to 'Back', whl_sl_price_pttrn_ms_path %>
