<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @prd_m_set_content.sku %>
</p>

<p>
  <strong>Sku content:</strong>
  <%= @prd_m_set_content.sku_content %>
</p>

<%= link_to 'Edit', edit_prd_m_set_content_path(@prd_m_set_content) %> |
<%= link_to 'Back', prd_m_set_contents_path %>
