<p id="notice"><%= notice %></p>

<p>
  <strong>Prd effect cls cd:</strong>
  <%= @prd_effect_cls_m.PRD_EFFECT_CLS_CD %>
</p>

<p>
  <strong>Prd effect cls name:</strong>
  <%= @prd_effect_cls_m.PRD_EFFECT_CLS_NAME %>
</p>

<%= link_to 'Edit', edit_prd_effect_cls_m_path(@prd_effect_cls_m) %> |
<%= link_to 'Back', prd_effect_cls_ms_path %>
