<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @prd_m.SKU %>
</p>

<p>
  <strong>Sku dvlpr:</strong>
  <%= @prd_m.SKU_DVLPR %>
</p>

<p>
  <strong>Sku source prd:</strong>
  <%= @prd_m.SKU_SOURCE_PRD %>
</p>

<p>
  <strong>Prd name:</strong>
  <%= @prd_m.PRD_NAME %>
</p>

<p>
  <strong>Prd name:</strong>
  <%= @prd_m.PRD_NAME %>
</p>

<p>
  <strong>Prd name subtitle:</strong>
  <%= @prd_m.PRD_NAME_SUBTITLE %>
</p>

<p>
  <strong>Prd dvlpr org name:</strong>
  <%= @prd_m.PRD_DVLPR_ORG_NAME %>
</p>

<p>
  <strong>Prd ctgry cd:</strong>
  <%= @prd_m.PRD_CTGRY_CD %>
</p>

<p>
  <strong>Prd type:</strong>
  <%= @prd_m.PRD_TYPE %>
</p>

<p>
  <strong>Sp prd type:</strong>
  <%= @prd_m.SP_PRD_TYPE %>
</p>

<p>
  <strong>Set prd f:</strong>
  <%= @prd_m.SET_PRD_F %>
</p>

<p>
  <strong>Set prd type:</strong>
  <%= @prd_m.SET_PRD_TYPE %>
</p>

<p>
  <strong>Sale f:</strong>
  <%= @prd_m.SALE_F %>
</p>

<p>
  <strong>Rcvng plcnt prd f:</strong>
  <%= @prd_m.RCVNG_PLCNT_PRD_F %>
</p>

<p>
  <strong>Dlvry ld time:</strong>
  <%= @prd_m.DLVRY_LD_TIME %>
</p>

<p>
  <strong>Db prd dlvry mthd:</strong>
  <%= @prd_m.DB_PRD_DLVRY_MTHD %>
</p>

<p>
  <strong>Lic type:</strong>
  <%= @prd_m.LIC_TYPE %>
</p>

<p>
  <strong>Lic from:</strong>
  <%= @prd_m.LIC_FROM %>
</p>

<p>
  <strong>Lic to:</strong>
  <%= @prd_m.LIC_TO %>
</p>

<p>
  <strong>Dstrbtr disp f:</strong>
  <%= @prd_m.DSTRBTR_DISP_F %>
</p>

<p>
  <strong>Prd st:</strong>
  <%= @prd_m.PRD_ST %>
</p>

<p>
  <strong>Acdmc lic f:</strong>
  <%= @prd_m.ACDMC_LIC_F %>
</p>

<p>
  <strong>Prd dlvry mthd:</strong>
  <%= @prd_m.PRD_DLVRY_MTHD %>
</p>

<p>
  <strong>Prd desc:</strong>
  <%= @prd_m.PRD_DESC %>
</p>

<p>
  <strong>Prd note:</strong>
  <%= @prd_m.PRD_NOTE %>
</p>

<p>
  <strong>Prd notice:</strong>
  <%= @prd_m.PRD_NOTICE %>
</p>

<p>
  <strong>Prd other info:</strong>
  <%= @prd_m.PRD_OTHER_INFO %>
</p>

<p>
  <strong>Url prd:</strong>
  <%= @prd_m.URL_PRD %>
</p>

<p>
  <strong>Url install guid:</strong>
  <%= @prd_m.URL_INSTALL_GUID %>
</p>

<p>
  <strong>Url lic auth guid:</strong>
  <%= @prd_m.URL_LIC_AUTH_GUID %>
</p>

<p>
  <strong>Url installer:</strong>
  <%= @prd_m.URL_INSTALLER %>
</p>

<p>
  <strong>Url prd image:</strong>
  <%= @prd_m.URL_PRD_IMAGE %>
</p>

<p>
  <strong>Url dl:</strong>
  <%= @prd_m.URL_DL %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @prd_m.MEMO %>
</p>

<p>
  <strong>Subscription lic term:</strong>
  <%= @prd_m.SUBSCRIPTION_LIC_TERM %>
</p>

<p>
  <strong>Subscription lic term unit:</strong>
  <%= @prd_m.SUBSCRIPTION_LIC_TERM_UNIT %>
</p>

<p>
  <strong>Mnt lic term:</strong>
  <%= @prd_m.MNT_LIC_TERM %>
</p>

<p>
  <strong>Mnt lic term unit:</strong>
  <%= @prd_m.MNT_LIC_TERM_UNIT %>
</p>

<p>
  <strong>Accnt cd dvlpr:</strong>
  <%= @prd_m.ACCNT_CD_DVLPR %>
</p>

<p>
  <strong>Accnt cd vndr:</strong>
  <%= @prd_m.ACCNT_CD_VNDR %>
</p>

<p>
  <strong>Rgstr dt:</strong>
  <%= @prd_m.RGSTR_DT %>
</p>

<p>
  <strong>Rgstr usr:</strong>
  <%= @prd_m.RGSTR_USR %>
</p>

<p>
  <strong>Lst upd dt:</strong>
  <%= @prd_m.LST_UPD_DT %>
</p>

<p>
  <strong>Lst upd usr:</strong>
  <%= @prd_m.LST_UPD_USR %>
</p>

<%= link_to 'Edit', edit_prd_m_path(@prd_m) %> |
<%= link_to 'Back', prd_ms_path %>
