<p id="notice"><%= notice %></p>

<p>
  <strong>Ptrn cd:</strong>
  <%= @whl_sl_price_pttrn_d.ptrn_cd %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @whl_sl_price_pttrn_d.sku %>
</p>

<p>
  <strong>Whl sl price type:</strong>
  <%= @whl_sl_price_pttrn_d.whl_sl_price_type %>
</p>

<%= link_to 'Edit', edit_whl_sl_price_pttrn_d_path(@whl_sl_price_pttrn_d) %> |
<%= link_to 'Back', whl_sl_price_pttrn_ds_path %>
