<%= form_for(@cpn_m) do |f| %>
  <% if @cpn_m.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpn_m.errors.count, "error") %> prohibited this cpn_m from being saved:</h2>

      <ul>
      <% @cpn_m.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<style type="text/css">

.table1 th{
 text-align:right;
  border:1;
  background-color: #999999;
  color:white;
}
</style>
<table class="table1">
  <div class="field">
  <tr>
    <th><strong><%= f.label :クーポン種別 %></strong></th>
    <td>
<select name="example">
<option value="1">値引額</option>
<option value="2">値引率</option>
</select>

    </td>
  </tr>
  </div>


  <div class="field">
  <tr>
	<th><strong> <%= f.label :ID %></strong></th>
    <td><%= f.number_field :CPN_ID %></td>
  </tr>

  <div class="field">
  <tr>
    <th><strong><%= f.label :有効・無効フラグ %></strong></th>
    <td><%= f.check_box :CPN_ST %></td>
  </tr>
  </div>

  </div>
  <div class="field">
  <tr>
    <th><strong><%= f.label :クーポンコード %></strong></th>
    <td><%= f.text_field :CPN_CD %></td>
  </tr>
  </div>
  
  
  <div class="field">
  <tr>
    <th><strong><%= f.label :クーポンタイトル %></strong></th>
    <td><%= f.text_field :CPN_TITLE %></td>
  </tr>
  </div>

  <div class='input-group date datepicker'>
  <tr>  
    <th><strong>有効期限</strong></th>
    <th><strong><%= f.label :開始日時 %></strong></th>
    <td><%= f.datetime_select :START_DT %></td>
    <td>～</td>
    <th><strong><%= f.label :終了日時 %></strong></th>
    
    <td><%= f.text_field :EXPIRATION_DT, :class => 'datepicker' %></td>
  </tr>
  </div>

  
  <div class="field">
  <tr>
    <th><strong><%= f.label :対象 %></strong></th>
    <td><select name="example">
    <option value="1">単価</option>
    <option value="2">総額</option>
    </select></td>
  </tr>
  </div>

  <div class="field">
  <tr>  
    <th><stong><%= f.label :対象製品条件 %></strong></th>
    <td><%= f.text_field :TRGT_PRD_CNDTN %></td>

  </tr>

  <tr>  
    <th><stong>　　　</strong></th>
    <td><%= f.text_field :TRGT_PRD_CNDTN %></td>
  </tr>  
  <tr>  
    <th><stong>　　　</strong></th>
    <td><%= f.text_field :TRGT_PRD_CNDTN %></td>
  </tr>  

  </div>

  <div class="field">
  <tr>  
    <th><strong><%= f.label :対象除外製品条件 %></strong></th>
    <td><%= f.text_field :EXCLD_PRD_CNDTN %></td>
  </tr>

  <tr>  
    <th><stong>　　　</strong></th>
    <td><%= f.text_field :TRGT_PRD_CNDTN %></td>
  </tr>  
  <tr>  
    <th><stong>　　　</strong></th>
    <td><%= f.text_field :TRGT_PRD_CNDTN %></td>
  </tr>  

  </div>

  <div class="field">
  <tr>
    <th><strong><%= f.label :ベンダー仕切割引 %></strong></th>
    <td>
      <input type="radio" value="0" name"VNDR_CPN" id="0"><label for="0">無</label>
      <input type="radio" value="1" name"VNDR_CPN" id="1"><label for="1">有</label>
    </td>
 <!--   <td><%= f.text_field :VNDR_CPN %></td> -->
  </tr>
  
  </div>
  <div class="field">
  <tr>
    <th><strong><%= f.label :使用回数 %></strong></th>
    <td><%= f.text_field :USE_LIMIT %></td>
  </tr>
  </div>
  
</table>


<style type="text/css">
.table2 {
  float:left;
  border:1;
  background-color: #999999;
  color:white;
}
</style>
<table class="table2">

<<<<<<< HEAD
  <div class="actions">
    <%= f.submit("登録する") %>
  </div>
=======
    <h3>単価割引設定        　　　　　　　　　注文総額割引設定</h3>
  <tr>  
   <div class="field">
      <th>割引額・率</th>
  </div>
  </tr>
  
  <tr>  
   <div class="field">
      <td><%= f.text_field :DSCNT_VALUE %></td>
  </div>
  </tr>
</table>

>>>>>>> 45dd7fab04ed029ef342d481881a6f3582fe1f90

<% end %> 
