<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @prd_m_whl_sl_price.SKU %>
</p>

<p>
  <strong>Whl sl price type:</strong>
  <%= @prd_m_whl_sl_price.WHL_SL_PRICE_TYPE %>
</p>

<p>
  <strong>Whl sl price ver:</strong>
  <%= @prd_m_whl_sl_price.WHL_SL_PRICE_VER %>
</p>

<p>
  <strong>Whl sl price rate:</strong>
  <%= @prd_m_whl_sl_price.WHL_SL_PRICE_RATE %>
</p>

<p>
  <strong>Whl sl price:</strong>
  <%= @prd_m_whl_sl_price.WHL_SL_PRICE %>
</p>

<p>
  <strong>Pre cp whl sl prie rate:</strong>
  <%= @prd_m_whl_sl_price.PRE_CP_WHL_SL_PRIE_RATE %>
</p>

<p>
  <strong>Pre cp whl sl price:</strong>
  <%= @prd_m_whl_sl_price.PRE_CP_WHL_SL_PRICE %>
</p>

<p>
  <strong>Cp price dscnt rate:</strong>
  <%= @prd_m_whl_sl_price.CP_PRICE_DSCNT_RATE %>
</p>

<p>
  <strong>Cp price dscnt:</strong>
  <%= @prd_m_whl_sl_price.CP_PRICE_DSCNT %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @prd_m_whl_sl_price.START_DATE %>
</p>

<p>
  <strong>End date:</strong>
  <%= @prd_m_whl_sl_price.END_DATE %>
</p>

<p>
  <strong>Rgstr dt:</strong>
  <%= @prd_m_whl_sl_price.RGSTR_DT %>
</p>

<p>
  <strong>Rgstr usr:</strong>
  <%= @prd_m_whl_sl_price.RGSTR_USR %>
</p>

<p>
  <strong>Lst upd dt:</strong>
  <%= @prd_m_whl_sl_price.LST_UPD_DT %>
</p>

<p>
  <strong>Lst upd usr:</strong>
  <%= @prd_m_whl_sl_price.LST_UPD_USR %>
</p>

<%= link_to 'Edit', edit_prd_m_whl_sl_price_path(@prd_m_whl_sl_price) %> |
<%= link_to 'Back', prd_m_whl_sl_prices_path %>
