<p id="notice"><%= notice %></p>

<p>
  <strong>Accnt cd:</strong>
  <%= @dstrbtr_m.accnt_cd %>
</p>

<p>
  <strong>Cntrct start date:</strong>
  <%= @dstrbtr_m.cntrct_start_date %>
</p>

<p>
  <strong>Cntrct start date:</strong>
  <%= @dstrbtr_m.cntrct_start_date %>
</p>

<p>
  <strong>Cntrct renewal date:</strong>
  <%= @dstrbtr_m.cntrct_renewal_date %>
</p>

<p>
  <strong>Cntrct next renewal date:</strong>
  <%= @dstrbtr_m.cntrct_next_renewal_date %>
</p>

<p>
  <strong>Cntrct end date:</strong>
  <%= @dstrbtr_m.cntrct_end_date %>
</p>

<p>
  <strong>Rgstr date:</strong>
  <%= @dstrbtr_m.rgstr_date %>
</p>

<p>
  <strong>Ptrn cd:</strong>
  <%= @dstrbtr_m.ptrn_cd %>
</p>

<%= link_to 'Edit', edit_dstrbtr_m_path(@dstrbtr_m) %> |
<%= link_to 'Back', dstrbtr_ms_path %>
