<p id="notice"><%= notice %></p>

<h1>Listing Prd M Dstrbtr Hide Prds</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Accnt cd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prd_m_dstrbtr_hide_prds.each do |prd_m_dstrbtr_hide_prd| %>
      <tr>
        <td><%= prd_m_dstrbtr_hide_prd.sku %></td>
        <td><%= prd_m_dstrbtr_hide_prd.accnt_cd %></td>
        <td><%= link_to 'Show', prd_m_dstrbtr_hide_prd %></td>
        <td><%= link_to 'Edit', edit_prd_m_dstrbtr_hide_prd_path(prd_m_dstrbtr_hide_prd) %></td>
        <td><%= link_to 'Destroy', prd_m_dstrbtr_hide_prd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prd m dstrbtr hide prd', new_prd_m_dstrbtr_hide_prd_path %>
