<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @prd_m_dstrbtr_hide_prd.sku %>
</p>

<p>
  <strong>Accnt cd:</strong>
  <%= @prd_m_dstrbtr_hide_prd.accnt_cd %>
</p>

<%= link_to 'Edit', edit_prd_m_dstrbtr_hide_prd_path(@prd_m_dstrbtr_hide_prd) %> |
<%= link_to 'Back', prd_m_dstrbtr_hide_prds_path %>
