<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @fbj_prd_sell_price_m.sku %>
</p>

<p>
  <strong>Sell price ver:</strong>
  <%= @fbj_prd_sell_price_m.sell_price_ver %>
</p>

<p>
  <strong>Tax ex price:</strong>
  <%= @fbj_prd_sell_price_m.tax_ex_price %>
</p>

<p>
  <strong>Tax in price:</strong>
  <%= @fbj_prd_sell_price_m.tax_in_price %>
</p>

<p>
  <strong>Pre cp sell price:</strong>
  <%= @fbj_prd_sell_price_m.pre_cp_sell_price %>
</p>

<p>
  <strong>Cp dscnt rate:</strong>
  <%= @fbj_prd_sell_price_m.cp_dscnt_rate %>
</p>

<p>
  <strong>Applctn start dt:</strong>
  <%= @fbj_prd_sell_price_m.applctn_start_dt %>
</p>

<p>
  <strong>Applctn end dt:</strong>
  <%= @fbj_prd_sell_price_m.applctn_end_dt %>
</p>

<p>
  <strong>Currency cd:</strong>
  <%= @fbj_prd_sell_price_m.currency_cd %>
</p>

<p>
  <strong>Exchng rate ver:</strong>
  <%= @fbj_prd_sell_price_m.exchng_rate_ver %>
</p>

<p>
  <strong>Comm rate ver:</strong>
  <%= @fbj_prd_sell_price_m.comm_rate_ver %>
</p>

<p>
  <strong>Tax ver:</strong>
  <%= @fbj_prd_sell_price_m.tax_ver %>
</p>

<p>
  <strong>Rgstr dtrgstr dt:</strong>
  <%= @fbj_prd_sell_price_m.rgstr_dtrgstr_dt %>
</p>

<p>
  <strong>Rgstr usr:</strong>
  <%= @fbj_prd_sell_price_m.rgstr_usr %>
</p>

<p>
  <strong>Lst updt dt:</strong>
  <%= @fbj_prd_sell_price_m.lst_updt_dt %>
</p>

<p>
  <strong>Lst updt usr:</strong>
  <%= @fbj_prd_sell_price_m.lst_updt_usr %>
</p>

<%= link_to 'Edit', edit_fbj_prd_sell_price_m_path(@fbj_prd_sell_price_m) %> |
<%= link_to 'Back', fbj_prd_sell_price_ms_path %>
