<%= form_for(@accnt) do |f| %>
<table class="accnt-form" border=1>
  <div class="field">
    <%= f.label :取引先コード %><br>
    <%= f.number_field :accnt_cd %>
  </div>
  <div class="field">
    <%= f.label :取引先種別1 %><br>
    <%= f.text_field :accnt_type_1 %>
  </div>
  <div class="field">
    <%= f.label :取引先種別2 %><br>
    <%= f.text_field :accnt_type_2 %>
  </div>
  <div class="field">
    <%= f.label :法人個人区分 %><br>
    <%= f.text_field :com_ind %>
  </div>
  <div class="field">
    <%= f.label :取引先名 %><br>
    <%= f.text_field :accnt_name %>
  </div>
  <div class="field">
    <%= f.label :取引先名英語表記 %><br>
    <%= f.text_field :accnt_name_e %>
  </div>
  <div class="field">
    <%= f.label :国地域コード %><br>
    <%= f.text_field :country_cd %>
  </div>
  <div class="field">
    <%= f.label :都道府県 %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :都道府県番号_FK%><br>
    <%= f.text_field :prefecture_no %>
  </div>
  <div class="field">
    <%= f.label :市区町村 %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :町丁目 %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :ビル名部屋番号 %><br>
    <%= f.text_field :bld %>
  </div>
  <div class="field">
    <%= f.label :印字用表記 %><br>
    <%= f.text_field :print_address %>
  </div>
  <div class="field">
    <%= f.label :印字用英語表記 %><br>
    <%= f.text_field :print_address_e %>
  </div>
  <div class="field">
    <%= f.label :"TEL" %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :"Eメールアドレス" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :"FAX番号" %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :メモ %><br>
    <%= f.text_field :memo %>
  </div>
  <div class="field">
    <%= f.label :登録ユーザ %><br>
    <%= f.text_field :rgstr_usr %>
  </div>
  <div class="field">
    <%= f.label :最終更新ユーザ %><br>
    <%= f.text_field :lst_upd_usr %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 