<style type="text/css">
ul{
  margin-left:0;
  padding-left:0;
  list-style-type:none;
  width:1120px;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  border-left:1px solid #cccccc;
}
a.navi1{
  display:block;
  padding-top:5px;
  padding-bottom:5px;
  border-right:1px solid #cccccc;
  text-align:center;
  text-decoration:none;
  background-color:black;
  color:white;
    width:159px;}
a.navi1:hover{
  background-color:#0066CC;

}

p.navi{
  display:block;
  padding-top:5px;
  padding-bottom:5px;
  border-right:1px solid #cccccc;
  text-align:left;
  background-color:black;
  color:white;
  max-width: 159px;
 
}
li{
  float:left;

}
</style>

<ul>
  <li><a class="navi1">製品管理システム</a></li>
  <li><a class="navi1">製品情報管理</a></li>
  <li><a class="navi1">製品カテゴリ管理</a></li>
  <li><a class="navi1">製品パッケージ在庫管理</a></li> 
  <li><a class="navi1">価格データ管理</a></li>
  <li><a class="navi1">クーポン管理</a></li>
  <li><a class="navi1">流通代理店向け価格表管理</a></li>
</ul>
<br>
<h1>ベンダー情報詳細</h1>
<table class="accnt-show" border=1>

  <tr>
  <th><strong>取引先コード:</strong></th>
  <td><%= @accnt.accnt_cd %></td>
  </tr>

  <tr>
  <th><strong>取引先種別1:</strong></th>
  <td><%= @accnt.accnt_type_1 %></td>
  </tr>

  <tr>
  <th><strong>取引先種別2:</strong></th>
  <td><%= @accnt.accnt_type_2 %></td>
  </tr>

  <tr>
  <th><strong>法人個人区分:</strong></th>
  <td><%= @accnt.com_ind %></td>
  </tr>

  <tr>
  <th><strong>取引先名:</strong></th>
  <td><%= @accnt.accnt_name %></td>
  </tr>

  <tr>
  <th><strong>取引先名英語表記:</strong></th>
  <td><%= @accnt.accnt_name_e %></td>
  </tr>

  <tr>
  <th><strong>国地域コード (FK):</strong></th>
  <td><%= @accnt.country_cd %></td>
  </tr>

  <tr>
  <th><strong>郵便番号:</strong></th>
  <td><%= @accnt.zip %></td>
  </tr>

  <tr>
  <th><strong>都道府県番号 (FK):</strong></th>
  <td><%= @accnt.prefecture_no %></td>
  </tr>

  <tr>
  <th><strong>市区町村:</strong></th>
  <td><%= @accnt.city %></td>
  </tr>

  <tr>
  <th><strong>町丁目:</strong></th>
  <td><%= @accnt.area %></td>
  </tr>

  <tr>
  <th><strong>ビル名部屋番号:</strong></th>
  <td><%= @accnt.bld %></td>
  </tr>

  <tr>
  <th><strong>印字用表記:</strong></th>
  <td><%= @accnt.print_address %></td>
  </tr>

  <tr>
  <th><strong>印字用英語表記:</strong></th>
  <td><%= @accnt.print_address_e %></td>
  </tr>

  <tr>
  <th><strong>Eメールアドレス:</strong></th>
  <td><%= @accnt.email %></td>
  </tr>

  <tr>
  <th><strong>FAX番号:</strong></th>
  <td><%= @accnt.fax %></td>
  </tr>

  <tr>
  <th><strong>メモ:</strong></th>
  <td><%= @accnt.memo %></td>
  </tr>

  <tr>
  <th><strong>登録ユーザ:</strong></th>
  <td><%= @accnt.rgstr_usr %></td>
  </tr>

  <tr>
  <th><strong>最終更新ユーザ:</strong></th>
  <td><%= @accnt.lst_upd_usr %></td>
  </tr>

</table>

<%= link_to '編集', edit_accnt_path(@accnt) %> |
<%= link_to '戻る', accnts_path %>
