<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @cpn_type.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cpn_type.name %>
</p>

<%= link_to 'Edit', edit_cpn_type_path(@cpn_type) %> |
<%= link_to 'Back', cpn_types_path %>
