<%= form_for(@prefecture) do |f| %>
<table class="prefecture-form" border=1>
  <div class="field">
    <%= f.label :都道府県番号 %><br>
    <%= f.number_field :prefecture_no %>
  </div>
  <div class="field">
    <%= f.label :都道府県名 %><br>
    <%= f.text_field :prefecture_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 