<p id="notice"><%= notice %></p>
<h1>都道府県番号マスタ詳細画面</h1>
<table class="prefecture-show" border=1>

  <tr>
  <th><strong>都道府県番号:</strong></th>
  <td><%= @prefecture.prefecture_no %></td>
  </tr>

  <tr>
  <th><strong>都道府県名:</strong></th>
  <td><%= @prefecture.prefecture_name %></td>
  </tr>

</table>

<%= link_to '編集', edit_prefecture_path(@prefecture) %> |
<%= link_to '戻る', prefectures_path %>
