<p id="notice"><%= notice %></p>

<p>
  <strong>Cpn:</strong>
  <%= @cpn_m_sales_dst.cpn_id %>
</p>

<p>
  <strong>Accnt cd:</strong>
  <%= @cpn_m_sales_dst.accnt_cd %>
</p>

<%= link_to 'Edit', edit_cpn_m_sales_dst_path(@cpn_m_sales_dst) %> |
<%= link_to 'Back', cpn_m_sales_dsts_path %>
