<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @prd_m_host_app.SKU %>
</p>

<p>
  <strong>App cd:</strong>
  <%= @prd_m_host_app.APP_CD %>
</p>

<%= link_to 'Edit', edit_prd_m_host_app_path(@prd_m_host_app) %> |
<%= link_to 'Back', prd_m_host_apps_path %>
