<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @prd_m_prchs_price.sku %>
</p>

<p>
  <strong>Prchs price ver:</strong>
  <%= @prd_m_prchs_price.prchs_price_ver %>
</p>

<p>
  <strong>List price:</strong>
  <%= @prd_m_prchs_price.list_price %>
</p>

<p>
  <strong>Prchs price rate:</strong>
  <%= @prd_m_prchs_price.prchs_price_rate %>
</p>

<p>
  <strong>Prchs price:</strong>
  <%= @prd_m_prchs_price.prchs_price %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @prd_m_prchs_price.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @prd_m_prchs_price.end_date %>
</p>

<p>
  <strong>Currency cd:</strong>
  <%= @prd_m_prchs_price.currency_cd %>
</p>

<p>
  <strong>Rgstr dt:</strong>
  <%= @prd_m_prchs_price.rgstr_dt %>
</p>

<p>
  <strong>Rgstr usr:</strong>
  <%= @prd_m_prchs_price.rgstr_usr %>
</p>

<p>
  <strong>Lst upd dt:</strong>
  <%= @prd_m_prchs_price.lst_upd_dt %>
</p>

<p>
  <strong>Lst upda usr:</strong>
  <%= @prd_m_prchs_price.lst_upda_usr %>
</p>

<%= link_to 'Edit', edit_prd_m_prchs_price_path(@prd_m_prchs_price) %> |
<%= link_to 'Back', prd_m_prchs_prices_path %>
