<h1>取引先マスタ管理</h1>

<table class="countries-table" border=1>
  <thead>
    <tr>
      <th>国地域コード</th>
      <th>国地域名</th>
      <th>国地域名英語表記</th>
      <th>通過コード</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countrys.each do |country| %>
      <tr>
        <td><%= country.country_cd %></td>
        <td><%= country.country_name %></td>
        <td><%= country.country_name_e %></td>
        <td><%= country.currency_cd %></td>
        <td><%= link_to '表示', country %></td>
        <td><%= link_to '更新', edit_country_path(country) %></td>
        <td><%= link_to '削除', country, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい取引先', new_country_path %>


