<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @prd_m_effect_csl.SKU %>
</p>

<p>
  <strong>Prd effect cls cd:</strong>
  <%= @prd_m_effect_csl.PRD_EFFECT_CLS_CD %>
</p>

<%= link_to 'Edit', edit_prd_m_effect_csl_path(@prd_m_effect_csl) %> |
<%= link_to 'Back', prd_m_effect_csls_path %>
