<p id="notice"><%= notice %></p>

<p>
  <strong>Accnt cd:</strong>
  <%= @dstrbtr_whl_sl_price.accnt_cd %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @dstrbtr_whl_sl_price.sku %>
</p>

<p>
  <strong>Whl sl price ver:</strong>
  <%= @dstrbtr_whl_sl_price.whl_sl_price_ver %>
</p>

<p>
  <strong>Whl price rate:</strong>
  <%= @dstrbtr_whl_sl_price.whl_price_rate %>
</p>

<p>
  <strong>Whl sl price:</strong>
  <%= @dstrbtr_whl_sl_price.whl_sl_price %>
</p>

<p>
  <strong>Pre cp whl sl prie rate:</strong>
  <%= @dstrbtr_whl_sl_price.pre_cp_whl_sl_prie_rate %>
</p>

<p>
  <strong>Pre cp whl sl price:</strong>
  <%= @dstrbtr_whl_sl_price.pre_cp_whl_sl_price %>
</p>

<p>
  <strong>Cp price dscnt rate:</strong>
  <%= @dstrbtr_whl_sl_price.cp_price_dscnt_rate %>
</p>

<p>
  <strong>Cp price dscnt:</strong>
  <%= @dstrbtr_whl_sl_price.cp_price_dscnt %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @dstrbtr_whl_sl_price.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @dstrbtr_whl_sl_price.end_date %>
</p>

<p>
  <strong>Rgstr dt:</strong>
  <%= @dstrbtr_whl_sl_price.rgstr_dt %>
</p>

<p>
  <strong>Rgstr usr:</strong>
  <%= @dstrbtr_whl_sl_price.rgstr_usr %>
</p>

<p>
  <strong>Lst upd dt:</strong>
  <%= @dstrbtr_whl_sl_price.lst_upd_dt %>
</p>

<p>
  <strong>Lst upd usr:</strong>
  <%= @dstrbtr_whl_sl_price.lst_upd_usr %>
</p>

<%= link_to 'Edit', edit_dstrbtr_whl_sl_price_path(@dstrbtr_whl_sl_price) %> |
<%= link_to 'Back', dstrbtr_whl_sl_prices_path %>
