<p id="notice"><%= notice %></p>

<h1>Listing Prd Ctgry Ms</h1>

<table>
  <thead>
    <tr>
      <th>Prd ctgry cd</th>
      <th>Prd ctgry name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prd_ctgry_ms.each do |prd_ctgry_m| %>
      <tr>
        <td><%= prd_ctgry_m.PRD_CTGRY_CD %></td>
        <td><%= prd_ctgry_m.PRD_CTGRY_NAME %></td>
        <td><%= link_to 'Show', prd_ctgry_m %></td>
        <td><%= link_to 'Edit', edit_prd_ctgry_m_path(prd_ctgry_m) %></td>
        <td><%= link_to 'Destroy', prd_ctgry_m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prd ctgry m', new_prd_ctgry_m_path %>
