<p id="notice"><%= notice %></p>

<p>
  <strong>Prd ctgry cd:</strong>
  <%= @prd_ctgry_m.PRD_CTGRY_CD %>
</p>

<p>
  <strong>Prd ctgry name:</strong>
  <%= @prd_ctgry_m.PRD_CTGRY_NAME %>
</p>

<%= link_to 'Edit', edit_prd_ctgry_m_path(@prd_ctgry_m) %> |
<%= link_to 'Back', prd_ctgry_ms_path %>
