<%= form_for(@cpn_m) do |f| %>
  <% if @cpn_m.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpn_m.errors.count, "error") %> prohibited this cpn_m from being saved:</h2>

      <ul>
      <% @cpn_m.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<style type="text/css">
.table1 th{
 text-align:left
}
</style>
<table class="table1" border=1>
  <div class="field">
    <%= f.label :クーポンID %><br>
    <%= f.number_field :CPN_ID %>
  </div>
  <div class="field">
    <%= f.label :クーポンコード %><br>
    <%= f.text_field :CPN_CD %>
  </div>
  <div class="field">
    <%= f.label :クーポン効力 %><br>
    <%= f.text_field :CPN_ST %>
  </div>
  <div class="field">
    <%= f.label :タイトル %><br>
    <%= f.text_field :CPN_TITLE %>
  </div>
  <div class="field">
    <%= f.label :クーポンクラス %><br>
    <%= f.text_field :CPN_CLS %>
  </div>
  <div class="field">
    <%= f.label :クーポン値引タイプ %><br>
    <%= f.text_field :CPN_DISCNT_TYPE %>
  </div>
  <div class="field">
    <%= f.label :ベンダー仕切クーポン %><br>
    <%= f.text_field :VNDR_CPN %>
  </div>
  <div class="field">
    <%= f.label :使用回数制限 %><br>
    <%= f.text_field :USE_LIMIT %>
  </div>
  <div class="field">
    <%= f.label :有効期限開始日時 %><br>
    <%= f.text_field :START_DT %>
  </div>
  <div class="field">
    <%= f.label :有効期限終了日時 %><br>
    <%= f.text_field :EXPIRATION_DT %>
  </div>
  <div class="field">
    <%= f.label :割引額 %><br>
    <%= f.text_field :DSCNT_VALUE %>
  </div>
  <div class="field">
    <%= f.label :割引率 %><br>
    <%= f.text_field :DSCNT_RATE %>
  </div>
  <div class="field">
    <%= f.label :対象製品条件 %><br>
    <%= f.text_field :TRGT_PRD_CNDTN %>
  </div>
  <div class="field">
    <%= f.label :対象除外製品条件 %><br>
    <%= f.text_field :EXCLD_PRD_CNDTN %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  

<% end %>