<p id="notice"><%= notice %></p>

<h1>Listing Prd Ms</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Sku dvlpr</th>
      <th>Sku source prd</th>
      <th>Prd name</th>
      <th>Prd name</th>
      <th>Prd name subtitle</th>
      <th>Prd dvlpr org name</th>
      <th>Prd ctgry cd</th>
      <th>Prd type</th>
      <th>Sp prd type</th>
      <th>Set prd f</th>
      <th>Set prd type</th>
      <th>Sale f</th>
      <th>Rcvng plcnt prd f</th>
      <th>Dlvry ld time</th>
      <th>Db prd dlvry mthd</th>
      <th>Lic type</th>
      <th>Lic from</th>
      <th>Lic to</th>
      <th>Dstrbtr disp f</th>
      <th>Prd st</th>
      <th>Acdmc lic f</th>
      <th>Prd dlvry mthd</th>
      <th>Prd desc</th>
      <th>Prd note</th>
      <th>Prd notice</th>
      <th>Prd other info</th>
      <th>Url prd</th>
      <th>Url install guid</th>
      <th>Url lic auth guid</th>
      <th>Url installer</th>
      <th>Url prd image</th>
      <th>Url dl</th>
      <th>Memo</th>
      <th>Subscription lic term</th>
      <th>Subscription lic term unit</th>
      <th>Mnt lic term</th>
      <th>Mnt lic term unit</th>
      <th>Accnt cd dvlpr</th>
      <th>Accnt cd vndr</th>
      <th>Rgstr dt</th>
      <th>Rgstr usr</th>
      <th>Lst upd dt</th>
      <th>Lst upd usr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prd_ms.each do |prd_m| %>
      <tr>
        <td><%= prd_m.SKU %></td>
        <td><%= prd_m.SKU_DVLPR %></td>
        <td><%= prd_m.SKU_SOURCE_PRD %></td>
        <td><%= prd_m.PRD_NAME %></td>
        <td><%= prd_m.PRD_NAME %></td>
        <td><%= prd_m.PRD_NAME_SUBTITLE %></td>
        <td><%= prd_m.PRD_DVLPR_ORG_NAME %></td>
        <td><%= prd_m.PRD_CTGRY_CD %></td>
        <td><%= prd_m.PRD_TYPE %></td>
        <td><%= prd_m.SP_PRD_TYPE %></td>
        <td><%= prd_m.SET_PRD_F %></td>
        <td><%= prd_m.SET_PRD_TYPE %></td>
        <td><%= prd_m.SALE_F %></td>
        <td><%= prd_m.RCVNG_PLCNT_PRD_F %></td>
        <td><%= prd_m.DLVRY_LD_TIME %></td>
        <td><%= prd_m.DB_PRD_DLVRY_MTHD %></td>
        <td><%= prd_m.LIC_TYPE %></td>
        <td><%= prd_m.LIC_FROM %></td>
        <td><%= prd_m.LIC_TO %></td>
        <td><%= prd_m.DSTRBTR_DISP_F %></td>
        <td><%= prd_m.PRD_ST %></td>
        <td><%= prd_m.ACDMC_LIC_F %></td>
        <td><%= prd_m.PRD_DLVRY_MTHD %></td>
        <td><%= prd_m.PRD_DESC %></td>
        <td><%= prd_m.PRD_NOTE %></td>
        <td><%= prd_m.PRD_NOTICE %></td>
        <td><%= prd_m.PRD_OTHER_INFO %></td>
        <td><%= prd_m.URL_PRD %></td>
        <td><%= prd_m.URL_INSTALL_GUID %></td>
        <td><%= prd_m.URL_LIC_AUTH_GUID %></td>
        <td><%= prd_m.URL_INSTALLER %></td>
        <td><%= prd_m.URL_PRD_IMAGE %></td>
        <td><%= prd_m.URL_DL %></td>
        <td><%= prd_m.MEMO %></td>
        <td><%= prd_m.SUBSCRIPTION_LIC_TERM %></td>
        <td><%= prd_m.SUBSCRIPTION_LIC_TERM_UNIT %></td>
        <td><%= prd_m.MNT_LIC_TERM %></td>
        <td><%= prd_m.MNT_LIC_TERM_UNIT %></td>
        <td><%= prd_m.ACCNT_CD_DVLPR %></td>
        <td><%= prd_m.ACCNT_CD_VNDR %></td>
        <td><%= prd_m.RGSTR_DT %></td>
        <td><%= prd_m.RGSTR_USR %></td>
        <td><%= prd_m.LST_UPD_DT %></td>
        <td><%= prd_m.LST_UPD_USR %></td>
        <td><%= link_to 'Show', prd_m %></td>
        <td><%= link_to 'Edit', edit_prd_m_path(prd_m) %></td>
        <td><%= link_to 'Destroy', prd_m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prd m', new_prd_m_path %>
