<p id="notice"><%= notice %></p>

<p>
  <strong>Currency cd:</strong>
  <%= @currency_m_excng_rate.currency_cd %>
</p>

<p>
  <strong>Exchng rate ver:</strong>
  <%= @currency_m_excng_rate.exchng_rate_ver %>
</p>

<p>
  <strong>Exchng rate:</strong>
  <%= @currency_m_excng_rate.exchng_rate %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @currency_m_excng_rate.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @currency_m_excng_rate.end_date %>
</p>

<p>
  <strong>Rgstr dt:</strong>
  <%= @currency_m_excng_rate.rgstr_dt %>
</p>

<p>
  <strong>Rgstr usr:</strong>
  <%= @currency_m_excng_rate.rgstr_usr %>
</p>

<p>
  <strong>Lst upd dt:</strong>
  <%= @currency_m_excng_rate.lst_upd_dt %>
</p>

<p>
  <strong>Lst upd usr:</strong>
  <%= @currency_m_excng_rate.lst_upd_usr %>
</p>

<%= link_to 'Edit', edit_currency_m_excng_rate_path(@currency_m_excng_rate) %> |
<%= link_to 'Back', currency_m_excng_rates_path %>
