<p id="notice"><%= notice %></p>

<p>
  <strong>Ptrn cd:</strong>
  <%= @whl_sl_price_pttrn_whl_sl_price_xref.ptrn_cd %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @whl_sl_price_pttrn_whl_sl_price_xref.sku %>
</p>

<p>
  <strong>Whl sl price type:</strong>
  <%= @whl_sl_price_pttrn_whl_sl_price_xref.whl_sl_price_type %>
</p>

<p>
  <strong>Whl sl price ver:</strong>
  <%= @whl_sl_price_pttrn_whl_sl_price_xref.whl_sl_price_ver %>
</p>

<p>
  <strong>String:</strong>
  <%= @whl_sl_price_pttrn_whl_sl_price_xref.string %>
</p>

<%= link_to 'Edit', edit_whl_sl_price_pttrn_whl_sl_price_xref_path(@whl_sl_price_pttrn_whl_sl_price_xref) %> |
<%= link_to 'Back', whl_sl_price_pttrn_whl_sl_price_xrefs_path %>
